<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SUS - AboutUs</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  
</head>

<body>
  {% include "SUS/navbar.html" %}
  <br><br>
  <center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4"><strong>SUS<strong/></h1>
    <p class="lead">The Sistema Único de Saúde (SUS) it is an achievement of the Brazilian people, guaranteed by the Federal Constitution of 1988. SUS is the only public health system in the world that serves more than 190 million people, 80% of whom depend exclusively on it for any health care.

The SUS is financed with citizen's taxes – that is, with the Union, States and Municipalities' own resources and from other supplementary sources of financing, all duly included in the social security budget.

The SUS was born through the pressure of social movements that understood that health is a right for everyone.</p>
    
    <hr class="my-4">

    <p class="lead">CS50WEB FINAL PROJECT <br> SUS ADM PORTAL v1.0</p>

    <hr class="my-4">

    
    <hr class="my-4">

    <p class="lead"><p>Developed by Shak</p></p>

    <hr class="my-4">
    
    </p>
  </div>
  </center>
</body>


</html>
